<header>
    <h1>OnlyMerch</h1>
    <nav>
        <div class="hamburger">☰</div>
        <ul>
            <li>
                <a href="/#"><i class="fa-solid fa-house"></i> Home</a>
                <ul>
                    <li><a href="/banner">Banner</a></li>
                    <li><a href="/deals">Deals</a></li>
                    <li><a href="/video">Video</a></li>
                    <li><a href="/bestsellers">Best Sellers</a></li>
                </ul>
            </li>
            <li>
                <a href="/shop">Shop</a>
                <ul>
                    <li><a href="/shop?category=TSHIRT">T-Shirts</a></li>
                    <li><a href="/shop?category=HOODIE">Hoodies</a></li>
                    <li><a href="/shop?is_featured=true">New Arrivals</a></li>
                </ul>
            </li>
            <li>
                <a href="/galerie">Gallery</a>
            </li>
            <li>
                <a href="/contact">About</a>
                <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="icons">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="themeToggle">
            <label class="form-check-label" for="themeToggle">
                <i class="fa-solid fa-sun theme-icon-light"></i>
                <i class="fa-solid fa-moon theme-icon-dark"></i>
            </label>
        </div>
        <i class="fa-solid fa-circle-user"></i>
        <i class="fa-solid fa-circle-user fa-bounce"></i>
    </div>
</header>
