<header>
    <h1>OnlyMerch</h1>
    <nav>
        <div class="hamburger">☰</div>
        <ul>
            <li>
                <a href="#"><i class="fa-solid fa-house"></i> Home</a>
                <ul>
                    <li><a href="/banner">Banner</a></li>
                    <li><a href="/deals">Deals</a></li>
                    <li><a href="/video">Video</a></li>
                    <li><a href="/bestsellers">Best Sellers</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Categories</a>
                <ul>
                    <li><a href="/shop">T-Shirts</a></li>
                    <li><a href="/shop">Hoodies</a></li>
                    <li><a href="/new">New Arrivals</a></li>
                </ul>
            </li>
            <li>
                <a href="/galerie">Gallery</a>
            </li>
            <li>
                <a href="/about">About</a>
                <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="icons">
        <i class="fa-solid fa-circle-user"></i>
        <i class="fa-solid fa-circle-user fa-bounce"></i>
    </div>
</header>