<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="OnlyMerch Team">
    <meta name="keywords" content="funny t-shirts, hoodies, meme apparel, pop culture clothing">
    <meta name="description" content="Online store for funny t-shirts and hoodies with unique designs">
    <meta name="msapplication-TileColor" content="#ff00ff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>OnlyMerch - Funny T-Shirts & Hoodies</title>
    <link rel="icon" type="image/png" href="/resources/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/resources/ico/favicon.svg">
    <link rel="shortcut icon" href="/resources/ico/favicon.ico">
    <script src="https://kit.fontawesome.com/d176a48d8b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gidole&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/css/custom.css">
    <link rel="stylesheet" href="/styles/css/_galerie.css"> 
    <!-- La cerinta cu galeria statica eu facusem un counter pana la 12 cu 2 spatii goale,
     am realizat tarziu ca scss-ul genera functia galerie in subfolder, si eu foloseam functia neactualizata care era in folderul mare-->
</head>
