<section id="banner">
    <h2>New Collections</h2>
    <figure>
        <picture>
            <source media="(max-width: 600px)" srcset="resources/img/banner-small.png">
            <source media="(max-width: 1200px)" srcset="resources/img/banner-medium.png">
            <img src="/resources/img/banner-big.png" alt="Featured collections banner" usemap="#bannerMap">
        </picture>
        <figcaption>Our Autumn Collection</figcaption>
    </figure>
    <map name="bannerMap">
        <area shape="rect" coords="0,0,375,500" href="#tshirts" alt="T-Shirts Section">
        <area shape="rect" coords="376,0,750,500" href="#hoodies" alt="Hoodies Section">
    </map>
</section>
