<div class="table-container">
    <table class="styled-table">
        <caption>Our Best Sellers</caption>
        <thead>
            <tr>
                <th colspan="2">Product Category</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">T-Shirts</td>
                <td>Funny Designs</td>
                <td>$24.99</td>
                <td>150</td>
            </tr>
            <tr>
                <td>Pop Culture</td>
                <td>$29.99</td>
                <td>85</td>
            </tr>
        </tbody>
    </table>
</div>
