<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Contact - OnlyMerch'}) %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Contact Us</h1>
        <p>You can reach us via the following methods:</p>
        <ul>
            <li>Email: alex.pricop203@onlymerch.com</li>
            <li>Phone: +40 737 40 55 77</li>
            <li>Address: 123 University Street, City, Country</li>
        </ul>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
