<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Titlu'}) %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section id="deals">
    <details>
        <summary>Deal of the Day</summary>
        <p><strong>WARNING:</strong> Offer valid today only! <s>$24.99</s> <ins>$19.99</ins></p>
    </details>
    <div class="formula-container">
        <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mrow>
                <mi style="color: #6EBDD3">H</mi>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <mi style="color: #5C9EB1">L</mi>
                        <mo>+</mo>
                        <mi style="color: #27434B">D</mi>
                    </mrow>
                    <mi style="color: #276576">T</mi>
                </mfrac>
            </mrow>
        </math>
        <p>H = Humor Factor | L = Laughs | D = Design Quality | T = Time</p>
    </div>
</section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>