<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'New Arrivals - OnlyMerch'}) %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>New Arrivals</h1>
        <p>Check out our latest products and collections.</p>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
