<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Shop - OnlyMerch'}) %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Shop</h1>
        <p>Welcome to the shop page. Products will be listed here.</p>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
