<section class="video-section">
    <div class="video-tabs">
        <div class="tab-buttons">
            <a href="https://www.youtube.com/embed/B-ytMSuwbf8" target="videoFrame" class="tab-btn">Video 1</a>
            <a href="https://www.youtube.com/embed/qyomWr_C_jA" target="videoFrame" class="tab-btn">Video 2</a>
        </div>
    </div>
    <!-- Task etapa 4 video vtt -->
    <video name="videoFrame" controls poster="/resources/img/poster.jpg" preload="none" style="width: 100%; min-width: 300px; max-width: 800px;">
        <source src="/resources/video/webdesigntips.mp4" type="video/mp4">
        <source src="/resources/video/webdesigntips.webm" type="video/webm">
        <track src="/resources/video/subtitles-ro.vtt" kind="subtitles" srclang="ro" label="Română" default>
        <track src="/resources/video/subtitles-en.vtt" kind="subtitles" srclang="en" label="English">
        Your browser does not support the video tag.
    </video>
</section>
